{
  "openapi": "3.1.0",
  "info": {
    "title": "Kuzey Emlak Chatbot API",
    "version": "1.0.0",
    "description": "Read-only API endpoints designed for AI chatbots to query real estate listings. All endpoints support CORS and return JSON responses with Turkish content.",
    "contact": {
      "name": "Kuzey Emlak",
      "url": "https://kuzey-emlak.lotfinity.tech"
    }
  },
  "servers": [
    {
      "url": "https://kuzey-emlak.lotfinity.tech",
      "description": "Production server"
    },
    {
      "url": "http://localhost:8000",
      "description": "Local development"
    }
  ],
  "paths": {
    "/api/bot/search": {
      "get": {
        "operationId": "searchListings",
        "summary": "Search and filter listings",
        "description": "Search listings with extensive filtering options. Returns paginated results in summary or full format.",
        "tags": ["Listings"],
        "parameters": [
          {
            "name": "deal_type",
            "in": "query",
            "schema": { "type": "string", "enum": ["kiralik", "satis"] },
            "description": "Filter by deal type: 'kiralik' (rent) or 'satis' (sale)"
          },
          {
            "name": "property_type",
            "in": "query",
            "schema": { "type": "string" },
            "description": "Property type (e.g., 'Daire', 'Villa', 'Residence', 'Arsa')"
          },
          {
            "name": "city",
            "in": "query",
            "schema": { "type": "string" },
            "description": "City name (partial match, case-insensitive)"
          },
          {
            "name": "state",
            "in": "query",
            "schema": { "type": "string" },
            "description": "District/state name (partial match, case-insensitive)"
          },
          {
            "name": "min_price",
            "in": "query",
            "schema": { "type": "integer", "minimum": 0 },
            "description": "Minimum price in TL"
          },
          {
            "name": "max_price",
            "in": "query",
            "schema": { "type": "integer", "minimum": 0 },
            "description": "Maximum price in TL"
          },
          {
            "name": "min_bedrooms",
            "in": "query",
            "schema": { "type": "integer", "minimum": 0 },
            "description": "Minimum number of bedrooms"
          },
          {
            "name": "max_bedrooms",
            "in": "query",
            "schema": { "type": "integer", "minimum": 0 },
            "description": "Maximum number of bedrooms"
          },
          {
            "name": "min_bathrooms",
            "in": "query",
            "schema": { "type": "integer", "minimum": 0 },
            "description": "Minimum number of bathrooms"
          },
          {
            "name": "max_bathrooms",
            "in": "query",
            "schema": { "type": "integer", "minimum": 0 },
            "description": "Maximum number of bathrooms"
          },
          {
            "name": "min_m2",
            "in": "query",
            "schema": { "type": "integer", "minimum": 0 },
            "description": "Minimum net square meters (m2_net)"
          },
          {
            "name": "max_m2",
            "in": "query",
            "schema": { "type": "integer", "minimum": 0 },
            "description": "Maximum net square meters (m2_net)"
          },
          {
            "name": "min_sqft",
            "in": "query",
            "schema": { "type": "integer", "minimum": 0 },
            "description": "Minimum square footage"
          },
          {
            "name": "max_sqft",
            "in": "query",
            "schema": { "type": "integer", "minimum": 0 },
            "description": "Maximum square footage"
          },
          {
            "name": "rooms",
            "in": "query",
            "schema": { "type": "string" },
            "description": "Room configuration (e.g., '1+1', '2+1', '3+1')"
          },
          {
            "name": "furnished",
            "in": "query",
            "schema": { "type": "string", "enum": ["true", "false"] },
            "description": "Filter by furnished status"
          },
          {
            "name": "elevator",
            "in": "query",
            "schema": { "type": "string", "enum": ["true", "false"] },
            "description": "Filter by elevator availability"
          },
          {
            "name": "parking",
            "in": "query",
            "schema": { "type": "string", "enum": ["true"] },
            "description": "Set to 'true' to only return listings with parking"
          },
          {
            "name": "in_complex",
            "in": "query",
            "schema": { "type": "string", "enum": ["true", "false"] },
            "description": "Filter by whether property is in a residential complex"
          },
          {
            "name": "max_building_age",
            "in": "query",
            "schema": { "type": "integer", "minimum": 0 },
            "description": "Maximum building age in years"
          },
          {
            "name": "floor",
            "in": "query",
            "schema": { "type": "integer" },
            "description": "Specific floor number"
          },
          {
            "name": "has_images",
            "in": "query",
            "schema": { "type": "string", "enum": ["true"] },
            "description": "Set to 'true' to only return listings with images"
          },
          {
            "name": "bbox",
            "in": "query",
            "schema": { "type": "string" },
            "description": "Bounding box filter: minLon,minLat,maxLon,maxLat"
          },
          {
            "name": "lat",
            "in": "query",
            "schema": { "type": "number", "format": "float" },
            "description": "Center latitude for radius search (requires lng and radius_km)"
          },
          {
            "name": "lng",
            "in": "query",
            "schema": { "type": "number", "format": "float" },
            "description": "Center longitude for radius search (requires lat and radius_km)"
          },
          {
            "name": "radius_km",
            "in": "query",
            "schema": { "type": "number", "format": "float", "minimum": 0 },
            "description": "Search radius in kilometers (requires lat and lng)"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": { "type": "integer", "minimum": 1, "maximum": 200, "default": 50 },
            "description": "Maximum number of results to return"
          },
          {
            "name": "offset",
            "in": "query",
            "schema": { "type": "integer", "minimum": 0, "default": 0 },
            "description": "Number of results to skip for pagination"
          },
          {
            "name": "order_by",
            "in": "query",
            "schema": { "type": "string", "enum": ["price", "-price", "date", "-date", "sqft", "-sqft", "bedrooms", "-bedrooms"] },
            "description": "Sort order (prefix with - for descending)"
          },
          {
            "name": "format",
            "in": "query",
            "schema": { "type": "string", "enum": ["summary", "full"], "default": "summary" },
            "description": "Output format: 'summary' for compact list view, 'full' for complete details"
          },
          {
            "name": "include_images",
            "in": "query",
            "schema": { "type": "string", "enum": ["true", "false"], "default": "true" },
            "description": "Include image gallery in full format"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful search results",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/SearchResponse" }
              }
            }
          }
        }
      }
    },
    "/api/bot/listing/{id}": {
      "get": {
        "operationId": "getListingDetail",
        "summary": "Get full listing details",
        "description": "Retrieve complete details of a single listing by ID, including all fields and images.",
        "tags": ["Listings"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "integer" },
            "description": "Listing ID"
          },
          {
            "name": "include_images",
            "in": "query",
            "schema": { "type": "string", "enum": ["true", "false"], "default": "true" },
            "description": "Include image gallery"
          }
        ],
        "responses": {
          "200": {
            "description": "Listing found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "const": true },
                    "listing": { "$ref": "#/components/schemas/ListingFull" }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Listing not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      }
    },
    "/api/bot/stats": {
      "get": {
        "operationId": "getListingStats",
        "summary": "Get aggregate statistics",
        "description": "Retrieve aggregate statistics about available listings, including price ranges, bedroom distribution, and feature counts.",
        "tags": ["Statistics"],
        "parameters": [
          {
            "name": "deal_type",
            "in": "query",
            "schema": { "type": "string", "enum": ["kiralik", "satis"] },
            "description": "Filter stats by deal type"
          },
          {
            "name": "city",
            "in": "query",
            "schema": { "type": "string" },
            "description": "Filter stats by city"
          }
        ],
        "responses": {
          "200": {
            "description": "Statistics retrieved",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/StatsResponse" }
              }
            }
          }
        }
      }
    },
    "/api/bot/locations": {
      "get": {
        "operationId": "getLocations",
        "summary": "Get available locations",
        "description": "Retrieve list of cities and districts with listing counts. Useful for understanding geographic coverage.",
        "tags": ["Locations"],
        "responses": {
          "200": {
            "description": "Locations retrieved",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/LocationsResponse" }
              }
            }
          }
        }
      }
    },
    "/api/bot/docs": {
      "get": {
        "operationId": "getApiDocs",
        "summary": "Get API documentation",
        "description": "Retrieve human-readable API documentation with examples. Useful for AI agents to understand available capabilities.",
        "tags": ["Documentation"],
        "responses": {
          "200": {
            "description": "Documentation retrieved",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/DocsResponse" }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "SearchResponse": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean" },
          "count": { "type": "integer", "description": "Total matching listings" },
          "returned": { "type": "integer", "description": "Number of listings in this response" },
          "offset": { "type": "integer", "description": "Current offset" },
          "limit": { "type": "integer", "description": "Maximum results requested" },
          "has_more": { "type": "boolean", "description": "More results available" },
          "filters_applied": { "type": "object", "description": "Filters that were applied" },
          "results": {
            "type": "array",
            "items": {
              "oneOf": [
                { "$ref": "#/components/schemas/ListingSummary" },
                { "$ref": "#/components/schemas/ListingFull" }
              ]
            }
          }
        },
        "required": ["success", "count", "returned", "results"]
      },
      "ListingSummary": {
        "type": "object",
        "description": "Compact listing for list views",
        "properties": {
          "id": { "type": "integer" },
          "title": { "type": "string" },
          "city": { "type": "string" },
          "state": { "type": "string" },
          "price": { "type": "integer", "description": "Price in TL" },
          "price_formatted": { "type": "string", "description": "Formatted price (e.g., '15,500 TL')" },
          "deal_type": { "type": "string", "enum": ["kiralik", "satis"] },
          "deal_type_display": { "type": "string", "description": "Human-readable deal type in Turkish" },
          "property_type": { "type": "string" },
          "bedrooms": { "type": "integer" },
          "bathrooms": { "type": "integer" },
          "rooms_text": { "type": "string", "description": "Room configuration (e.g., '2+1')" },
          "m2_net": { "type": "integer", "description": "Net square meters" },
          "sqft": { "type": "integer", "description": "Square footage" },
          "furnished": { "type": "boolean" },
          "latitude": { "type": "number", "format": "float" },
          "longitude": { "type": "number", "format": "float" },
          "primary_image": { "type": "string", "format": "uri", "nullable": true },
          "image_count": { "type": "integer" },
          "detail_url": { "type": "string", "format": "uri" }
        },
        "required": ["id", "title", "price", "deal_type"]
      },
      "ListingFull": {
        "type": "object",
        "description": "Complete listing with all details",
        "properties": {
          "id": { "type": "integer" },
          "title": { "type": "string" },
          "description": { "type": "string" },
          "location": {
            "type": "object",
            "properties": {
              "address": { "type": "string" },
              "city": { "type": "string" },
              "state": { "type": "string" },
              "zipcode": { "type": "string" },
              "latitude": { "type": "number", "format": "float" },
              "longitude": { "type": "number", "format": "float" },
              "google_maps_url": { "type": "string", "format": "uri", "nullable": true }
            }
          },
          "pricing": {
            "type": "object",
            "properties": {
              "price": { "type": "integer" },
              "price_formatted": { "type": "string" },
              "deal_type": { "type": "string", "enum": ["kiralik", "satis"] },
              "deal_type_display": { "type": "string" },
              "deposit": { "type": "integer", "nullable": true },
              "maintenance_fee": { "type": "integer", "nullable": true }
            }
          },
          "property": {
            "type": "object",
            "properties": {
              "type": { "type": "string" },
              "bedrooms": { "type": "integer" },
              "bathrooms": { "type": "integer" },
              "rooms_text": { "type": "string" },
              "sqft": { "type": "integer" },
              "m2_gross": { "type": "integer", "nullable": true },
              "m2_net": { "type": "integer", "nullable": true },
              "lot_size": { "type": "number", "nullable": true }
            }
          },
          "building": {
            "type": "object",
            "properties": {
              "age": { "type": "integer", "nullable": true },
              "floor_number": { "type": "integer", "nullable": true },
              "floors_total": { "type": "integer", "nullable": true },
              "elevator": { "type": "boolean" },
              "in_complex": { "type": "boolean" },
              "complex_name": { "type": "string", "nullable": true }
            }
          },
          "amenities": {
            "type": "object",
            "properties": {
              "heating": { "type": "string", "nullable": true },
              "kitchen_type": { "type": "string", "nullable": true },
              "balcony": { "type": "string", "nullable": true },
              "parking_area": { "type": "string", "nullable": true },
              "furnished": { "type": "boolean" },
              "garage": { "type": "integer" }
            }
          },
          "status": {
            "type": "object",
            "properties": {
              "usage_status": { "type": "string", "nullable": true },
              "deed_status": { "type": "string", "nullable": true },
              "from_whom": { "type": "string", "nullable": true },
              "is_published": { "type": "boolean" },
              "list_date": { "type": "string", "format": "date-time", "nullable": true },
              "ad_date": { "type": "string", "format": "date", "nullable": true }
            }
          },
          "links": {
            "type": "object",
            "properties": {
              "detail_page": { "type": "string", "format": "uri" },
              "original_source": { "type": "string", "format": "uri", "nullable": true }
            }
          },
          "external_id": { "type": "string", "nullable": true },
          "images": {
            "type": "object",
            "properties": {
              "count": { "type": "integer" },
              "primary": { "$ref": "#/components/schemas/ListingImage" },
              "gallery": {
                "type": "array",
                "items": { "$ref": "#/components/schemas/ListingImage" }
              }
            }
          }
        },
        "required": ["id", "title", "location", "pricing", "property"]
      },
      "ListingImage": {
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "url": { "type": "string", "format": "uri" },
          "title": { "type": "string" },
          "is_primary": { "type": "boolean" }
        }
      },
      "StatsResponse": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean" },
          "statistics": {
            "type": "object",
            "properties": {
              "total_listings": { "type": "integer" },
              "price": {
                "type": "object",
                "properties": {
                  "min": { "type": "integer" },
                  "max": { "type": "integer" },
                  "avg": { "type": "integer" },
                  "ranges": {
                    "type": "object",
                    "properties": {
                      "under_10k": { "type": "integer" },
                      "10k_25k": { "type": "integer" },
                      "25k_50k": { "type": "integer" },
                      "50k_100k": { "type": "integer" },
                      "100k_250k": { "type": "integer" },
                      "250k_500k": { "type": "integer" },
                      "500k_1m": { "type": "integer" },
                      "over_1m": { "type": "integer" }
                    }
                  }
                }
              },
              "size": {
                "type": "object",
                "properties": {
                  "min_sqft": { "type": "integer" },
                  "max_sqft": { "type": "integer" },
                  "avg_sqft": { "type": "integer" }
                }
              },
              "bedrooms": {
                "type": "object",
                "properties": {
                  "min": { "type": "integer" },
                  "max": { "type": "integer" },
                  "distribution": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "bedrooms": { "type": "integer" },
                        "count": { "type": "integer" }
                      }
                    }
                  }
                }
              },
              "by_deal_type": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "deal_type": { "type": "string" },
                    "count": { "type": "integer" }
                  }
                }
              },
              "by_city": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "city": { "type": "string" },
                    "count": { "type": "integer" }
                  }
                }
              },
              "by_property_type": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "property_type": { "type": "string" },
                    "count": { "type": "integer" }
                  }
                }
              },
              "features": {
                "type": "object",
                "properties": {
                  "with_elevator": { "type": "integer" },
                  "furnished": { "type": "integer" },
                  "in_complex": { "type": "integer" },
                  "with_parking": { "type": "integer" },
                  "with_images": { "type": "integer" },
                  "with_coordinates": { "type": "integer" }
                }
              }
            }
          },
          "filters_applied": { "type": "object" }
        }
      },
      "LocationsResponse": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean" },
          "locations": {
            "type": "object",
            "properties": {
              "cities": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "city": { "type": "string" },
                    "count": { "type": "integer" }
                  }
                }
              },
              "districts_by_city": {
                "type": "object",
                "additionalProperties": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "state": { "type": "string" },
                      "count": { "type": "integer" }
                    }
                  }
                }
              }
            }
          },
          "total_cities": { "type": "integer" },
          "total_unique_districts": { "type": "integer" }
        }
      },
      "DocsResponse": {
        "type": "object",
        "description": "Human-readable API documentation"
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean", "const": false },
          "error": { "type": "string" },
          "error_code": { "type": "string" }
        },
        "required": ["success", "error"]
      }
    }
  },
  "tags": [
    {
      "name": "Listings",
      "description": "Search and retrieve property listings"
    },
    {
      "name": "Statistics",
      "description": "Aggregate data and analytics"
    },
    {
      "name": "Locations",
      "description": "Geographic coverage information"
    },
    {
      "name": "Documentation",
      "description": "API documentation and help"
    }
  ]
}
